nav{
    position: sticky;
    top: 10px;
    background-color: white;
    z-index: 2;
}
.verticle-line{
    border:1px solid lightgray;
    height: 70px;
}
.delevery-location>h5{
      font-weight: 700;
      margin-top: 4px;
}
.delevery-location>p{
    font-size: 15px;
}
.search-bar{
    background-color: lightgrey;
    
    
    border-radius:10px;
}
.search-bar>input{
   background-color: transparent;
   border: none;
   padding: 10px;
   width: 40vw;
   border-color: transparent;
   border-radius:10px;
}
.cart-button{
    font-weight: 700;
}
.collection-1{
   padding-inline: 7.5vw;
}
::-webkit-scrollbar{
    display:none ;
}
.scroll-bar{
    width: 82vw;
    margin: auto;
}
.list{
    white-space: nowrap;
    overflow-x: scroll;
    
}
.list>img{
    display: inline-block;
    margin-inline: 10px;
}
.discount{
     width: 30px;
     
     background-color: lightblue;
     font-size:9px ;
}
.my-card{
    display: inline-block !important;
    width:225px;
    padding: 10px;
    box-sizing: border-box;

}
.my-card>img{
    display: inline-block !important;
    margin: auto !important;
}
.my-card-title{
    white-space: wrap;
}
.my-card-text{
    font-size: 14px;
}
.price{
    font-size: 14px;
    margin: 0px;
}
.time{
    font-size: 12px;
}

.collection{
    width: 82vw;
    margin:auto;
}
#my-footer{
    width: 82vw;
    margin: auto;
}
#my-footer-row2{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
#my-footer-row2-col1{
    flex:1;
     font-size: 13px;
     color: #666666;

}
#my-footer-row2-col2{
    display: flex;
    justify-content: space-around;
    flex:1;
    color: #666666;
}
#my-footer-row2-col3{
    display: flex;
    justify-content: space-evenly;
    flex:1;
}
.social-icons{
    height: 45px;;
    width: 45px;
    background-color: #060130;
    border-radius: 50%;
    text-align: center;
    color:white;
    font-size: 30px;
}
.social-icons:hover{
    color: black;
    background-color: #f8cb45;
    box-shadow: 3px 3px 15px black;
}
#my-footer-row3{
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
}
.some-box{
    height: 30px;
    width: 120px;
    border-radius: 7px;
     background-color:rgb(14, 2, 75) ;
     text-align: center;
     color: white;

}
#my-footer-row1{
 display: flex;
  margin-inline:auto ;
  margin-bottom: 40px;
  margin-top: 25px;
}
#footer-table1{
     flex:2;
     width: 100%;
}
#footer-table2{
    flex:3;
    width: 100%;
}
table{
    width: 100%;
}
td{
  color: #666666;
}
td:hover{
    color: #f8cb45;
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width:480px) {
    #big-image{
        display: none !important;
    }
    .scroll-bar{
        margin-top: 25px;
    }
    #my-footer-row2,#my-footer-row1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
    #my-footer-row2-col1,#my-footer-row2-col2,#my-footer-row2-col3{
        padding: 15px;
        margin-top: 15px;
    }
    #footer-table1, #footer-table2{
        padding-inline: 20px;
        margin-top: 25px;

    }
    .search-bar{
        position: static;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .verticle-line{
        display: none;
    }
}
@media screen and (max-width:780px) {
    #big-image{
        display: none !important;
    }
    .scroll-bar{
        margin-top: 25px;
    }
    #my-footer-row2,#my-footer-row1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
    #my-footer-row2-col1,#my-footer-row2-col2,#my-footer-row2-col3{
        padding: 15px;
        margin-top: 15px;
    }
    #footer-table1, #footer-table2{
        padding-inline: 20px;
        margin-top: 25px;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .verticle-line{
        display: none;
    }
}
